{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
<header>

</header>
<body>
<div id=":12r" class="a3s aXjCH m159be7bb07a4d340">
    <div style="margin:0;padding:0">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#f2f2f2">
            <tbody>
            <tr>
                <td style="color:#222222;text-align:center;font-family:proxima-nova,arial,sans-serif;padding:40px">

                    <table align="center" border="0" width="600" cellpadding="0" cellspacing="0">

                        <tbody>
                        <tr>
                            <td style="padding-bottom:40px;text-align:center">
                                <img style="width: 200px" alt="kubernetes"
                                     src="https://image.slidesharecdn.com/kubernetes-161025043346/95/kubernetes-gdglimasummit-17-638.jpg">
                            </td>
                        </tr>


                        <tr>
                            <td style="background-color:#ffffff;padding:40px 48px;font-size:14px;line-height:1.5;font-family:proxima-nova,arial,sans-serif">


                                <form action="/" method="post" class="form">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-primary">
                                            Submit
                                        </button>
                                    {% endbuttons %}
                                </form>

                            </td>
                        </tr>


                        </tbody>
                    </table>

                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>


